body video.video1 {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100; }

body header {
  background: rgba(0, 0, 0, 0.5); }
  body header .seccionActiva {
    color: #03989E; }
  body header a {
    text-decoration: none;
    font-family: 'Train One', cursive;
    color: white;
    font-size: 18px; }
    body header a:hover {
      color: #03989E;
      transition: 350ms linear; }

#textoPrincipal {
  height: 85vh; }

#h2Principal {
  padding-top: 30vh; }

.tituloPrincipal {
  font-family: 'Train One', cursive;
  letter-spacing: 8px;
  font-size: 25px;
  color: white; }

.tituloSecundario {
  font-family: 'Train One', cursive;
  font-size: 50px;
  color: white; }

.botonConocenos {
  font-family: 'Train One', cursive;
  text-decoration: none;
  color: white; }
  .botonConocenos:hover {
    color: #03989E;
    transition: 350ms linear; }

body .menuCompleto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

body .tituloMenu {
  font-family: 'Train One', cursive;
  color: whitesmoke;
  font-size: 30px;
  letter-spacing: 10px; }

body .lista {
  color: whitesmoke;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

body video.video3 {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100; }

body .galeria {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 40vh 45vh; }
  body .galeria .containerGaleria {
    justify-self: center; }
    body .galeria .containerGaleria a {
      text-decoration: none; }
      body .galeria .containerGaleria a .cards {
        background: rgba(0, 0, 0, 0.5);
        width: 300px;
        height: 40vh;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s; }
        body .galeria .containerGaleria a .cards:hover {
          transform: translateY(-15px);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
        body .galeria .containerGaleria a .cards img {
          width: 20vw;
          height: 25vh;
          object-fit: contain; }
        body .galeria .containerGaleria a .cards h3 {
          font-family: 'Train One', cursive;
          color: whitesmoke;
          font-size: 20px; }
        body .galeria .containerGaleria a .cards p {
          font-family: 'Lobster', cursive;
          font-size: 11px;
          color: whitesmoke; }

body .conocenosGrid {
  display: grid;
  grid-template-columns: 50vw 48vw;
  grid-template-rows: 73vh; }
  body .conocenosGrid p {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    align-self: center; }
  body .conocenosGrid .slider {
    position: relative;
    margin: 0;
    padding: 0; }
    body .conocenosGrid .slider li {
      list-style: none;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.5s; }
      body .conocenosGrid .slider li:first-child {
        opacity: 1; }
      body .conocenosGrid .slider li:target {
        opacity: 1; }
      body .conocenosGrid .slider li img {
        width: 35vw;
        height: 75vh;
        object-fit: cover;
        border-radius: 10%;
        margin-left: 100px; }
  body .conocenosGrid .menuConocenos {
    text-align: center;
    margin: 20px; }
    body .conocenosGrid .menuConocenos li {
      display: inline-block;
      text-align: center;
      list-style: none; }
      body .conocenosGrid .menuConocenos li a {
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 3px;
        width: 30px;
        height: 30px;
        font-size: 15px;
        border-radius: 100%; }
