body{
    video.video1{
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -100;
    }
    header{
       background: rgba(0, 0, 0, 0.5);
       a{
           text-decoration: none;
           font-family: 'Train One', cursive;
           color: white;
           font-size: 18px;
           &:hover{
               color: #03989E;
               transition: 350ms linear;
           }
        }
    }
}